.navbar-inverse .brand,.navbar-inverse .nav>li>a {
	color: white;
}

.navbar-inverse .nav .active>a {
	color: red;
}

.navbar-inverse .nav >li>a:hover {
	color: red;
}

.agendasession h3 {
	line-height: 1.5;
}

.badge-info {
	margin-top: 15px;
}